/**
 * Generales
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    /*background: #fc930a;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
}
header {
    background: #fc930a;
    /*height: 100px!important;*/
}
header h1 {
    position: absolute;
    margin-top: -51px;
    margin-left: 30px;
    z-index: 99999;
}
/*.blocke {
    margin: 2.5em auto!important;
}*/
a, a:hover, a.active {
    outline: none!important;
}
.wrap-content {
    background: #FFF;
    padding-top: 2em;
}
.container {
    float: none;
    margin: 0 auto!important;
}

.navbar-default {
    background: #323336;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.nav-top {
    margin:  0!important;
    padding: 0!important;
    border-bottom: 1px ridge orange;
    border-radius: 0;
}
.nav-top li:hover {
    background: #FDC80A;
    color: #323336;
    margin: 0!important;
    padding: 0!important;
}
.nav-top li.facebook {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.nav-top li.facebook a {
    background: url(../img/facebook.png) left bottom;
    background-position: 4px -24px;
    background-repeat: no-repeat;

}
.nav-top li.facebook:hover {
    background: #3B5998;
}
.nav-top li.facebook:hover a {
    color: #FFFFFF!important;

}
.nav-top li a {
    color: #FFF!important;
    font-size: 0.9em;
    font-weight: bold;
}
.nav-top li:hover a {
    color: #323336!important;
}
nav {
    padding: 1em;
    /*padding-top: 2.5em;*/
    width: 100%;
}
.lavalamp-object {
    border-bottom: 2px solid #FFFFFF;
    margin-top: 0.5em;
}
nav ul {
    text-align: right;
}
nav ul li {
    /*border-right: 1px solid #d2d2d2;*/
    display: inline-block;
    padding: 0 1.5em;
}
nav ul li:last-child {
    border: none;
}
nav ul li a {
    border: none;
    color: #FFFFFF;
    font-size: 1.1em;
}
nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.titulo_seccion {
    font-size: 1.2em;
    margin: 0 auto;
}
.titulo_seccion a {
    color: #6EA8D2;
    font-size: 0.7em;
    font-weight: bold;
}
.titulo_seccion a:hover {
    text-decoration: none;
}
.section {
    margin: 2em 0 3em 0;
}

ul {
    list-style: none;
}
hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
footer {
    background: #323336;
    color: #FFFFFF;
    margin-top: 2em;
    padding-top: 1em;
    width: 100%;
}
footer span {
    color: #fc930a;
}
footer ul {
    margin-left: 0;
    padding-left: 0;
}
.footer {
    background: #232324;
    border-top: 1px groove #2D2C2F;
    font-size: 0.9em;
    margin-top: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-align: center;
}
.naranja {
    color: #fc930a;
}
.aside {
    padding-left: 0;
}
.aside li {
    padding: 0.3em 0.5em;
}
/**
 * Fin Generales
 */
#slider img {
    max-height: 370px!important;
    min-height: 125px!important;
}
.ultimas_novedades {
    margin-bottom: 1em;
}
.ultimas_novedades div figure {
    border-bottom: 1px solid #f2f2f2;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
.ultimas_novedades div figure figcaption a label {
    color: #DB5A3C;
    font-size: 1.2em;
    text-align: left;
    cursor: pointer;
}
.ultimas_novedades div figure p {
    color: #666666;
    text-align: justify;
}
.ultimas_novedades div:last-child figure {
    border-bottom: none;
}
ul.otras_novedades {
    padding-left: 0;
}
ul.otras_novedades li {
    margin: 0.7em auto;
    cursor: pointer;
}

/**
 * Colaboradores
 */
.colaboradores {
    background: red;
}
.colaboradores img {
    max-height: 80px;
}
.newsletter {
    background: #f27032;
}
/**
 * Inicio de noticias
 **/
.navbar-right {

}
.noticias .noticia {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
.noticias img {
    margin: 0.5em auto;
    height: 200px;
    width: 100%;
}
.noticia h4 {

}
.noticia p {
    text-align: justify;
}
.fecha {
    font-size: 0.9em;
}
.staff > div {
    text-align: center;
}
.staff > div > span {
    display: block;
}
.staff > div > span > img {
    margin: 0.5em auto;
    width: 100px;
}
/**
 * Fin de noticias
 **/

/**
 * Galeria
 **/
.polaroid {
    width:100%;
    overflow:hidden;
    padding:20px 10px;
}
.polaroid figure{
    float:left;
    position:relative;
    width: 216px;
    margin: 10px 20px;
    padding: 6px 8px 10px 8px;
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    background: #f2f2f2;

    -webkit-transform:rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
}
.polaroid figure:nth-child(even) {
    -webkit-transform:rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}
.polaroid figure:before {
    content: '';
    display: block;
    position: absolute;
    left:5px;
    top: -15px;
    width: 75px;
    height: 25px;
    background-color: rgba(222,220,198,0.7);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}
.polaroid figure:nth-child(even):before {
    left:150px;
    top: -15px;
    width: 55px;
    height: 25px;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
}
.polaroid figcaption{
    text-align:center;
    font-family: 'Reenie Beanie', cursive; /*Reenie Beanie is available through Google Webfonts http://code.google.com/webfonts/specimen/Reenie+Beanie*/
    font-size:1.3em;
    color:#454f40;
    letter-spacing:0.09em;
}
/**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
.polaroid figure{
-pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
    behavior: url(assets/pie/PIE.htc);
    position:relative; /*required to make PIE work*/
    padding-top:10px\9;
    padding-right:10px\9;
}


/**
 * Programas
 */
a:hover figure.programas img{
    opacity: 0.7;
}
figure.programas {
    background: #FFFFFF;
}
figure.programas img {
    width: 100%;
    z-index: 1;
}
figure.programas figcaption {
    margin-top: -80px;
    position: absolute;
    z-index: 2!important;
}
figure.programas figcaption span {
    color: #000;
    display: block;
    padding: 0.3em 0.7em;
    text-align: left;
}
figure.programas figcaption span.nombre {
    /*background: #000000;*/
    background: rgba(0, 0, 0, 0.9);
    color: #FFFFFF;
    position: relative;
    margin-bottom: 0.3em;    
}
figure.programas figcaption span.more {
    /*background: #FDC80A;*/
    background: rgba(253, 200, 10, 0.9);
    max-width: 100px;
}