a:hover, a:active, a:focus {
    list-style-type: none;
    outline: 0;
    text-decoration: none;
}
nav {

    }
    .row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
	margin-top: 50px;
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -185px;

    left: 70px;
    width: 180px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 190px;
}
#wrapper.active #sidebar-wrapper {
    left: 185px;
}
#page-content-wrapper {
  width: 100%;
}

.botones {
    text-align: right;
}
.botones button {
    margin-left: 10px;
}
.panel-heading {
    font-size: 0.9em;
    font-weight: bold;
}
table.table {
    font-size: 0.9em;
}
.paginador {
    font-size: 0.9em;
    font-weight: bold;
}
.item-separador {
    margin: 0 10px;
}

.search-gridview {
    font-size: 0.9em;
    width: 200px!important;
}
.per-page-gridview {
    display: inline-block;
    width: 200px!important;
}
.icono-gridview {
    display: inline-block!important;
    margin: 0 5px;    
}
.alert-info {
    margin: 20px 0;
}
.informacion-paginador {
    margin-right: 0;
    padding-right: 0;
    text-align: right;
}
ul.pagination {
    margin: 0;
}
.mostrar {
    text-align: center;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    outline: none;
    float: left;
    text-decoration: none;
    width: 180px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
#sidebar-wrapper ul#sidebar a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    margin-top: 8px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #252525;
}
#sidebar-wrapper ul#sidebar a.active:hover:after{
    color: #fff;
    text-decoration: none;
    border-left: 10px solid #4D4C4C;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
.botones {
    text-align: right;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 160px;
    transition: all .4s ease 0s;
}
}



/**
 * Imagenes cargadas
 */

#imagenes-cargadas figure {
    border: 1px solid #d2d2d2;
    display: inline-block;
    margin: 0 5px 15px 0;
    padding: 3px;
    padding-bottom: 5px;
    width: 208px;
}
#imagenes-cargadas figure.active {
    border: 1px solid #5986AA;
}
#imagenes-cargadas figure img {
    display: block;
    margin-bottom: 5px;
}
#imagenes-cargadas figure img:hover {
    cursor: pointer;
}